@using myfinance_web_dotnet.Domain
@{
    ViewData["Title"] = "Lançamento (Receitas e Despesas)";
}
<div class="container"> 
    <h1>Lançamentos de Receitas e Despesas</h1>
    <br />
    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Transacao" asp-action="Cadastro">Lançar Receita ou Despesa</output></a>
    <br /><br />

    <table class="table table-hover">
        <thead> 
            <tr>
                <th>Id</th>
                <th>Histórico</th>
                <th>Data</th>
                <th>Tipo</th>
                <th>Valor</th>                
                <th>#</th>
                <th>#</th>
            </tr>
        </thead> 

        @{
            foreach (var item in (List<Transacao>)ViewBag.TransacaoList)
            {
                <tbody>    
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Historico</td>
                        <td>@item.Data.ToString("dd/MM/yyyy")</td>
                        <td>@item.Tipo</td>
                        <td>@item.Valor</td>
                        <td><button type="button" class="btn btn-warning" onclick="Editar(@item.Id)">Editar</button>
                        </td>
                        <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.Id)">Excluir</button>
                        </td>
                    </tr>
                </tbody> 
            }
        }
    </table>

    <script>
        function Editar(id){
            window.location.href ="../Transacao/Cadastro/" + id; 
        }
        function Excluir(id){
            window.location.href ="../Transacao/Excluir/" + id; 
        }
    </script>
</div> 
